In [31]:
from skimage.metrics import structural_similarity as ssim
import matplotlib.pyplot as plt
import numpy as np
import cv2
import os
import pandas as pd
import shutil
import cv2, glob, random, math, numpy as np, dlib, itertools
import matplotlib.pyplot as plt
from skimage.feature import hog
from sklearn import datasets
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

In [32]:
cwd = os.getcwd()
df = pd.read_csv(cwd + "/../data_csv/feature_data.csv")

In [33]:
def create_state(df, split_fraction, file_name):
    # arrange data
    X = list(df['image'][i] for i in range(len(df)))
    y = list(df['emotion'][i] for i in range(len(df)))

    # train test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=split_fraction)

    # prepare data to export
    new_df = pd.DataFrame(columns=['image', 'emotion'])
    new_df['image'] = X_test
    new_df['emotion'] = y_test

    # add split data to new csv file
    new_df.to_csv(cwd + '/state_hog/' + file_name + '.csv', index=False)

    print(new_df.groupby('emotion').count())

    # drop split data from all data
    data = {
        'image': X_train,
        'emotion': y_train
    }
    df = pd.DataFrame(data)

    return df

In [34]:
dir_img = cwd + '/state_hog'
if os.path.exists(dir_img):
    shutil.rmtree(dir_img)
os.makedirs(dir_img)

In [35]:
# split test data
df = create_state(df, 0.1, "test")

         image
emotion
0           92
1          136
2           97
3          132
4          521
5          524
6          120
7           79

In [36]:
# split val data
df = create_state(df, 0.1, "val")

         image
emotion
0           96
1          130
2           92
3          126
4          450
5          447
6          115
7           74

In [37]:
df

                                image  emotion
0          SADNESS/sadness (5231).jpg        6
1                Jules_Asner_0001.jpg        4
2          SADNESS/sadness (1003).png        6
3           NEUTRAL/neutral (672).png        5
4              ANGER/anger (1396).png        0
...                               ...      ...
13765  HAPPINESS/happiness (8893).png        4
13766    Kristen_Breitweiser_0002.jpg        7
13767           Craig_Doblin_0001.jpg        4
13768    SURPRISE/surprise (2108).jpg        7
13769          Edwin_Edwards_0003.jpg        5

[13770 rows x 2 columns]

In [38]:
df.to_csv(cwd + "/state_hog/train.csv", index=False)