In [18]:
import os
import pandas as pd
import numpy as np
import shutil
import cv2
from sklearn.model_selection import train_test_split

In [19]:
cwd = os.getcwd()
df = pd.read_csv(cwd + "/../data_csv/preprocessing_data.csv")

In [20]:
def create_state(df, split_fraction, file_name):
    # arrange data
    X = list(df['image'][i] for i in range(len(df)))
    y = list(df['emotion'][i] for i in range(len(df)))

    # train test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=split_fraction)

    # prepare data to export
    new_df = pd.DataFrame(columns=['image', 'emotion'])
    new_df['image'] = X_test
    new_df['emotion'] = y_test

    # add split data to new csv file
    new_df.to_csv(cwd + '/state/' + file_name + '.csv', index=False)

    print(new_df.groupby('emotion').count())

    # drop split data from all data
    data = {
        'image': X_train,
        'emotion': y_train
    }
    df = pd.DataFrame(data)

    return df

In [21]:
dir_img = cwd + '/state'
if os.path.exists(dir_img):
    shutil.rmtree(dir_img)
os.makedirs(dir_img)

In [22]:
# split test data
df = create_state(df, 0.1, "test")

         image
emotion
0          219
1          202
2          250
3          249
4          870
5          970
6          334
7          374

In [23]:
# split val data
df = create_state(df, 0.1, "val")

         image
emotion
0          227
1          200
2          204
3          224
4          795
5          881
6          280
7          310

In [24]:
df

                             image  emotion
0        SADNESS/sadness (236).png        6
1             FEAR/fear (1117).jpg        3
2        Yoriko_Kawaguchi_0014.jpg        5
3           ANGER/anger (2512).jpg        0
4        SADNESS/sadness (243).jpg        6
...                            ...      ...
28081  SURPRISE/surprise (730).png        7
28082        Heath_Ledger_0001.jpg        5
28083       Nathalie_Baye_0004.jpg        4
28084   SADNESS/sadness (1787).jpg        6
28085        ANGER/anger (656).jpg        0

[28086 rows x 2 columns]

In [25]:
df.to_csv(cwd + "/state/train.csv", index=False)