In [18]:
import os
import pandas as pd
import numpy as np
import shutil
import cv2
from sklearn.model_selection import train_test_split

In [19]:
cwd = os.getcwd()
df = pd.read_csv(cwd + "/../data_csv/preprocessing_data.csv")

In [20]:
df

                                 image  emotion
0      facial-expressions_2868585k.jpg        7
1      facial-expressions_2868582k.jpg        3
2               Aaron_Peirsol_0003.jpg        4
3                Aaron_Sorkin_0002.jpg        4
4         Abdel_Nasser_Assidi_0002.jpg        5
...                                ...      ...
15891       SURPRISE/surprise (91).jpg        7
15892      SURPRISE/surprise (941).png        7
15893      SURPRISE/surprise (967).png        7
15894      SURPRISE/surprise (970).png        7
15895      SURPRISE/surprise (978).jpg        7

[15896 rows x 2 columns]

In [21]:
def create_state(df, split_fraction, file_name):
    # arrange data
    X = list(df['image'][i] for i in range(len(df)))
    y = list(df['emotion'][i] for i in range(len(df)))

    # train test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=split_fraction)

    # prepare data to export
    new_df = pd.DataFrame(columns=['image', 'emotion'])
    new_df['image'] = X_test
    new_df['emotion'] = y_test

    # add split data to new csv file
    new_df.to_csv(cwd + '/state/' + file_name + '.csv', index=False)

    print(new_df.groupby('emotion').count())

    # drop split data from all data
    data = {
        'image': X_train,
        'emotion': y_train
    }
    df = pd.DataFrame(data)

    return df

In [22]:
dir_img = cwd + '/state'
if os.path.exists(dir_img):
    shutil.rmtree(dir_img)
os.makedirs(dir_img)

In [23]:
# split test data
df = create_state(df, 0.1, "test")

         image
emotion
0          108
1          160
2          114
3          128
4          393
5          412
6          142
7          133

In [24]:
df

                                image  emotion
0        SURPRISE/surprise (5512).jpg        7
1              Rachel_Hunter_0002.jpg        4
2        CONTEMPT/contempt (1751).jpg        1
3              Sedigh_Barmak_0001.jpg        4
4      HAPPINESS/happiness (8451).png        4
...                               ...      ...
14301  HAPPINESS/happiness (7909).png        4
14302    CONTEMPT/contempt (1628).jpg        1
14303    CONTEMPT/contempt (1847).jpg        1
14304      SADNESS/sadness (4741).jpg        6
14305    CONTEMPT/contempt (2325).jpg        1

[14306 rows x 2 columns]

In [25]:
# split val data
df = create_state(df, 0.1, "val")

         image
emotion
0          107
1          121
2           96
3          122
4          393
5          383
6           90
7          119

In [26]:
df.to_csv(cwd + "/state/train.csv", index=False)